doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();

      socket.on('alert message', function(msg) {
        console.log(msg);
      });
  body
    block content